SmartGun/PointOfContact/Connected Services/ServiceReference1/CoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50204/COREService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50204/COREService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50204/COREService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessagesLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICoreService_HandleWarning_InputMessage">
    <wsdl:part name="parameters" element="tns:HandleWarning" />
  </wsdl:message>
  <wsdl:message name="ICoreService_HandleWarning_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandleWarningResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_HandleShot_InputMessage">
    <wsdl:part name="parameters" element="tns:HandleShot" />
  </wsdl:message>
  <wsdl:message name="ICoreService_HandleShot_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandleShotResponse" />
  </wsdl:message>
  <wsdl:portType name="ICoreService">
    <wsdl:operation name="HandleWarning">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoreService/HandleWarning" message="tns:ICoreService_HandleWarning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoreService/HandleWarningResponse" message="tns:ICoreService_HandleWarning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HandleShot">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoreService/HandleShot" message="tns:ICoreService_HandleShot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoreService/HandleShotResponse" message="tns:ICoreService_HandleShot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICoreService" type="tns:ICoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HandleWarning">
      <soap:operation soapAction="http://tempuri.org/ICoreService/HandleWarning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HandleShot">
      <soap:operation soapAction="http://tempuri.org/ICoreService/HandleShot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoreService">
    <wsdl:port name="BasicHttpBinding_ICoreService" binding="tns:BasicHttpBinding_ICoreService">
      <soap:address location="http://localhost:50204/COREService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>