SmartGun/PointOfContact/Connected Services/ServiceReference1/COREService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50204/COREService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessagesLibrary" />
  <xs:element name="HandleWarning">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MessagesLibrary" minOccurs="0" name="message" nillable="true" type="q1:WarningMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleWarningResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleShot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MessagesLibrary" minOccurs="0" name="message" nillable="true" type="q2:ShotMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleShotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>